# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env

# Virtual environments
venv/
.envs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS/system files
.DS_Store
Thumbs.db

# Optional logs
*.log